@charset "UTF-8";

@import url(../css/common.css);

/* 모바일-------------------- */
body{background: coral;}

.content{
  padding: 20px;
  background: #fff;
}

/* row-1 */
.content .gallery-list li{
  margin-bottom: 20px;
}
.content .gallery-list li a img{
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  filter: grayscale(100%);
  transition: all 0.3s;
}
.content .gallery-list li a:hover img{
  filter: grayscale(0);
}

/* row-2 */
.select-box{display: none;}
.row-2{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
/* 검색어 */
.search-box form input{
  width: 120px;
  height: 30px;
  padding-left: 5px;
}

/* 글쓰기 */
.write-box a{
  display: block;
  width: 70px;
  height: 30px;
  background: #e65d5d;
  font-size: 0.813em; /*13px*/
  text-align: center;
  line-height: 30px;
}

/* row-3 */
.row-3{
  display: flex;
  justify-content: center;
}
.row-3 span{
  width: 28px;
  height: 28px;
  text-indent: -9999px;
  cursor: pointer;
}
.row-3 .prve-btn{
  background: #2ecc71 url(../images/s_images/list_prev_btn.png) no-repeat center;
  margin-right: 10px;
}
.row-3 .next-btn{
  background: #2ecc71 url(../images/s_images/list_next_btn.png) no-repeat center;
  margin-left: 10px;  
}
 
.row-3 a{
  display: block;
  color: #219af7;
  border: 1px solid #219af7;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 0.813em; /*13px*/
  transition: all 0.3s;
}
.row-3 a:hover{
  background: #219af7;
  color: #fff;
}
.row-3 a:nth-child(3){
  margin: 0 6px;
}


/* 태블릿-------------------- */
@media all and (min-width : 768px){
  body{background: royalblue;}}

  /* ----tap-content영역---- */
  .content{
    padding: 40px;
  }


  /* ----tap-row1 갤러리영역---- */
  .content .gallery-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content .gallery-list li{
    width: 48%;
}

/* ----tap-row2 갤러리영역---- */
.search-box .select-box{
  display: inline-block;
  position: relative;
}
.search-box .select-box span{
  background-color: #e65d5d;
  display: block;
  width: 80px;
  height: 30px;
  font-size: 0.0813em; /*13px*/
  text-align: center;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
}

.search-box .select-box .select-list{
  background-color: #e65d5d;
  width: 80px;
  font-size: 0.0813em; /*13px*/
  text-align: center;
  color: #fff;
  cursor: pointer;
  padding: 6px 0;
  position: absolute;
  top: 35px;
  display: none;
}

.search-box .select-box .select-list li{
  padding: 4px 0;
}

/* hover효과 */
.search-box .select-box:hover .select-list{
  display: block;
}


/* pc-------------------- */
@media all and (min-width : 960px){
  body{background: brown;}

.content .gallery-list li{
    width: 23%;}
}